@charset "utf-8";
body  {
    background-image: url(../images/video-bg.jpg);
	
}
.contact.header .contactitle {
   text-align: center;
    font-size: 35px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
    color: #C8BEAA;
	
}
.contact.header .contact.infor {
    font-style: italic;
	color:#E1CECE;
}
.header-text {
    color: #E1CECE;
}
.contact.agent.form {
    background-color: #EBEBEB;
}
